<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!-- Add any necessary meta tags, styles, and links to external CSS -->
</head>
<body>
<h1>Děkujeme za registraci!</h1>
<p>Registrace Vašeho uživatelského účtu <span th:text="${userEmail}"></span> proběhla úspěšně! Pro přihlášení použíjte heslo uvedené v tomto emailu. Heslo si doporučujeme po prvním přihlášení z bezpečnostních důvodů změnit.</p>


Vaše přihlašovací heslo
<span th:text="${userLoginPassword}"></span>


<p>Toto heslo bylo automaticky vygenerováno systémem. Po prvním přihlášení si ho můžete změnit v nastavění.</p>
<!-- Add any additional HTML content -->
</body>
</html>