<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!-- Add any necessary meta tags, styles, and links to external CSS -->
</head>
<body>
<h1>Vyše přihlašovací heslo do aplikace</h1>
<p>Obdrželi jsme žádost o reset Vašeho uživatelského hesla pro účet <span th:text="${userEmail}"></span>.</p>
<p>Pokud jste nechtěli vygenerovat nové heslo, tak můžete tento email ignorovat. Platnost odkazu pro vygenerovaní nového
  hesla je 24 hodin.</p>

<span th:text="${userLoginPassword}"></span>

<!-- Add any additional HTML content -->
</body>
</html>