<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!-- Add any necessary meta tags, styles, and links to external CSS -->
</head>
<body>
<h1>Nové heslo aplikace</h1>
<p>Na základě Vaší žádosti o vygenerování nového hesla pro uživatelský účet <span th:text="${userEmail}"></span> Vám
  zasíláme nové příhlašovací heslo.</p>
<p>Z důvodu zabezpečení aplikace si po přihlášení změňte přehlašovací heslo.</p>

<h3>Vaše nové přihlašovací heslo</h3>
<span th:text="${newUserPassword}"></span>

</body>
</html>